:root {
  --fondo-negro: #0b090a;
  --negro-azulado: #03071e;
  --negro-rojiso: #370617;
  --amarillo: #ffba08;
  --tono-amarillo-one: #faa307;
  --tono-amarillo-two: #f48c06;
  --rojo-profundo: #f40000;
  --rojo-one: #d00000;
  --rojo-two: #dc2f02;
  --blanco: #ffffff;
  --gray-dark: #CFC3C6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial";
  background-color: #0b090a;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles-module_floatingWhatsapp__1akvz {
  height: 0 !important;
}